<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>文笔后台管理</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
	<!--<link rel="stylesheet" href="/static/common/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="/static/zhuyeAsserts/css/ready.css">
	<link rel="stylesheet" href="/static/zhuyeAsserts/css/demo.css">
	<link rel="stylesheet" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css}">
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
	<link rel="stylesheet" href="/static/favicon.ico">
	<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<script src="/static/zhuyeAsserts/js/tubiao.js"></script>
	<script src="/static/layer/layer.js"></script>
	<script src="/static/common/js/bootstrap-table.min.js"></script>
	<script src="/static/zhuyeAsserts/js/jquery.scrollbar.min.js"></script>
	<script src="/static/zhuyeAsserts/js/ready.min.js"></script>
	<!-- Latest compiled and minified Locales -->
	<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script src="/static/layer/layer.js"></script>
	<!-- layer javascript -->
	<script src="/static/common/js/plugins/layer/layer.min.js"></script>
</head>
<body>
	<div class="wrapper" style="width: 100%">
		<div class="main-header">
			<!--左上角logo-->
			<div class="logo-header">
				<a href="#" class="logo">
					文笔后台管理
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<!--头部导航栏-->
			<nav class="navbar  navbar-expand-lg" >
				<div class="container-fluid">
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-bell"></i>
								<span class="notification">3</span>
							</a>
							<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
								<li>
									<div class="dropdown-title">通 知</div>
								</li>
								<li>
									<div class="notif-center">
										<a href="#">
											<div class="notif-img">
												<img src="/static/zhuyeAsserts/img/profile2.jpg" alt="Img Profile">
											</div>
											<div class="notif-content">
												<span class="block">
													Reza send messages to you
												</span>
												<span class="time">12 minutes ago</span>
											</div>
										</a>
									</div>
								</li>
								<li>
									<a class="see-all" href="javascript:void(0);"> <strong>更多信息</strong> <i class="la la-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img th:src="@{/zhuyeAsserts/img/profile.jpg}" alt="user-img" width="36" class="img-circle"><span th:text="${users.loginName}"></span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="/static/zhuyeAsserts/img/profile.jpg" alt="user"></div>
										<div class="u-text">
											<h4 th:text="${users.loginName}"></h4>
											<p class="text-muted">hello@qq.com</p><a href="#" class="btn btn-rounded btn-danger btn-sm">个人资料</a></div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-email"></i> 收件箱</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-settings"></i> 帐户设置</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" th:href="#{ctx.f}+@{/admin/login}"><i class="fa fa-power-off"></i> 退出</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
			<!--侧导航-->
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item">
							<a th:href="#{ctx.a}+@{/admin/sys/user/indexshouye}" id="on" target="right_view" onclick="$('div#right_view').load(this.href);return false;">
								<i class="la la-home"></i>
								<p>首页</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="#{ctx.a}+@{/admin/sys/kehu/kehufindlist}" id="userindex" target="right_view" onclick="$('div#right_view').load(this.href);return false;">
								<i class="la la-group"></i>
								<p>用户中心</p>
								<!--<span class="badge badge-danger">25</span>-->
							</a>
						</li>
						<li class="nav-item">
							<a th:href="#{ctx.a}+@{/admin/sys/notice/noticefindlist}" id="gonggao" target="right_view" onclick="$('div#right_view').load(this.href);return false;">
								<i class="la la-bullhorn"></i>
								<p>官网公告</p>
								<!--<span class="badge badge-danger">25</span>-->
							</a>
						</li>
						<li class="nav-item">
							<a href="#" id="admin" target="right_view" onclick="$('div#right_view').load(this.href);return false;">
								<i class="la la-cog"></i>
								<p>系统设置</p>
								<!--<span class="badge badge-danger">25</span>-->
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid" style="padding-left: 0px;padding-right: 0px" >
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body" id="right_view">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="#">
										帮助
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#license/#free-item">
										许可证
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright ml-auto">
							2018, made with
						</div>
					</div>
				</footer>-->
			</div>
		</div>
	</div>

</body>


<script type="text/javascript">

document.getElementById("on").click();


function right_view(url) {
    $('div#right_view').load(this.href);
    return false;
}
</script>
</html>